{% macro renderIterable(var) %}
    <table border="1">
        {% for param, value in var if value is not empty %}
            <tr>
                <td>{{ param }}</td>
                <td>{{ value is iterable ? value|json_encode : value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro renderValue(var) %}
    {% if var is iterable %}
        {% for key, value in var if value is not empty %}
            <strong>{{ key }}</strong>:
            {% if value is iterable %}
                {{ _self.renderIterable(value) }}
            {% else %}
                {{ value }}
                <br />
            {% endif %}
        {% endfor %}
    {% else %}
        {{ var }}
        <br />
    {% endif %}
{% endmacro %}

<h2>{{ exception_class }} : {{ exception.message }}</h2>

<h3>Information:</h3>
<strong>Generated at: </strong> {{ "now"|date("d-m-Y H:i:s") }} <br />
<strong>Class name: </strong> {{ exception_class }} <br />
<strong>Message: </strong> {{ exception.message }} <br />
<strong>Uri: </strong> {{ request.uri }} <br />

{% if request_attributes %}
    <h3>Request Attributes:</h3>
    {{ _self.renderValue(request_attributes) }}
{% endif %}

<h3>Stack trace:</h3>
{% for trace in exception.trace %}
    #{{ loop.index0 }} -
        {% if trace.class is defined %}
            {{ trace.class }}{{ trace.type }}{{ trace.function }}()
        {% else %}
            {{ trace.function }}()
        {% endif %}
        {% if trace.file is defined %}
            in {{ trace.file }} line {{ trace.line }}
        {% endif %}
    <br />
{% endfor %}
{# todo handle unlimited exception chain #}
{% if exception.previous %}
    <h4>Previous exception: {{ '"' ~ exception.previous.message ~ '": ' ~ exception.previous.file ~ ':' ~ exception.previous.line }}</h4>
    {% for trace in exception.previous.trace %}
        #{{ loop.index0 }} -
            {% if trace.class is defined %}
                {{ trace.class }}{{ trace.type }}{{ trace.function }}()
            {% else %}
                {{ trace.function }}()
            {% endif %}
            {% if trace.file is defined %}
                in {{ trace.file }} line {{ trace.line }}
            {% endif %}
        <br />
    {% endfor %}
{% endif %}

<h3>Request Headers:</h3>
{{ _self.renderValue(request_headers) }}

<h3>Request Server Parameters:</h3>
{{ _self.renderValue(server_params) }}
